*{
    margin: 0;
    padding: 0;
    --maincolor:whitesmoke;
    --hover: #ffe8cb;
    --font:#A6702E;
    
}



body{
    height: 100vh;
    
}

.header .navbar{
    background-color: whitesmoke;
    height: 45px;
    width: 100%;
}
.header .navbar .logo{
    margin-right: 200px;
}
.header .navbar ul li :hover{
    background-color: var(--hover);
    color: var(--font);
}

section{
    height: 100vh;
}
section .centercontent {
    height: 200px;
}
section .sidebar{
    height: 100vh;
    background-color: var(--maincolor);
}

section .sidebar a{
    background-color: var(--maincolor);
    border: none;
    border-radius: none;
}
section .sidebar  :hover {
    background-color: var(--hover);
    color: var(--font);
}
