*{
    --maincolor:rgb(255, 255, 255);
    --hover: #ffe8cb;
    --font:#A6702E;
    
    
}



body{
    height: 200vh;
    margin: 0;
    padding: 0;
    
}

.navbar{
    background-color: var(--maincolor);
    height: 45px;
    width: 100%;
}
.navbar .logo{
    font-weight: 900;
    padding-right: 50px;
}
.navbar ul li :hover{
    background-color: var(--hover);
    color: var(--font);
}

section .sidebar{
    height: 200vh;
    background-color: var(--maincolor);
    position: absolute;
    right: 0;
    width: 20%;
    
}

section .sidebar a{
    background-color: var(--maincolor);
    border: none;
    border-radius: none;
    font-weight: 600;
}
section .sidebar  :hover {
    background-color: var(--hover);
    color: var(--font);
}
.maincontent{
    display: grid;
    justify-content: space-evenly;
    position: relative;
    
    
}
.leftcount{
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    background-color: var(--maincolor);
    padding-top: 40px;
    padding-bottom: 40px;
    left: 30px;
    top: 30px;
    
    

}
.chart{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.chart1 , .chart2 , .chart3{
    border-radius: 5%;
    border: 1px solid black;
    height: 120px;
    
    
}
.chart4{
    height: 550px;
}
.chart5 , .chart6{
 height: 500px;
 margin: 10px 0 10px 0;
 border-radius: 5px;
}
.chart2{
    border: 1px solid black;
    border-radius: 5px;
}